<h3>Activity List</h3>
<p>Recently Viewed: <%= @activity ? @activity.title : "Haven't viewed any activities." %></p>
<ul>
    <% @activities.each do |activity| %>
        <li><a href="/activities/<%= activity.id %>"> <%= activity.title %> </a></li>
    <% end %>
</ul>