<h2 class = "text"> Create an Activity</h2>

<form action="/activities" method="post">
<div class="row">
    <div class="input-field">
        <input id="title" name="activity[title]" type="text" class="validate">
        <label for="title">Title</label>
    </div>
    <div class="input-field ">
        <input type="text" class="validate" name="activity[items]">
        <label for="items">Items Needed</label>
    </div>
</div>
<input type="submit" value="Create" class="btn green lighten-3">
</form>