<h2 class = "text"> Create an Activity</h2>

<form action="/activities" method="post">
<div class="row">
    <div class="input-field">
        <input id="title" name="activity[title]" type="text" class="validate">
        <label for="title">Title</label>
    </div>
</div>
    <p>
      <label>
        <input type="checkbox" id="items" name="activity[items]" class="validate"/>
        <span>Hiking boots</span><br>
      </label>
     <label>
        <input type="checkbox" id="items" name="activity[items]" class="validate"/>
        <span>Hiking backpack</span><br>
      </label>
       <label>
        <input type="checkbox" id="items" name="activity[items]" class="validate"/>
        <span>Hiking pants</span><br>
      </label>
       <label>
        <input type="checkbox" id="items" name="activity[items]" class="validate"/>
        <span>Navigation tools such as a map and compass</span><br>
      </label>
        <label>
        <input type="checkbox" id="items" name="activity[items]" class="validate"/>
        <span></span><br>
      </label>
     
      
    </p>

<input type="submit" value="Create" class="btn green lighten-3">
</form>