
  <ul class="collapsible popout" style="text-align:center;margin:auto;margin-top:60px;padding:20px 5px;">
    <li>
      <div class="collapsible-header pink lighten-3 waves-effect waves-light" style="padding:40px;font-size:30px;font-family:Times New Roman"><i class="material-icons"></i>What 'Stay Active' is about?</div>
      <div class="collapsible-body pink lighten-5"><span style="font-size:18px;font-style:">We want to encourage people to take up new physically challenging hobbies</span></div>
    </li>
    <li>
      <div class="collapsible-header blue lighten-3 waves-effect waves-light" style="padding:40px;font-size:30px;font-family:Times New Roman"><i class="material-icons"></i>Get introduced to a new activity</div>
      <div class="collapsible-body blue lighten-5"><span style="font-size:18px">Our goal is to help you make a list of activities that you can get yourself into </span></div>
    </li>
    <li>
      <div class="collapsible-header purple lighten-3 waves-effect waves-light" style="padding:40px;font-size:30px;font-family:Times New Roman"><i class="material-icons"></i>Say goodbye to old conventional methods of staying fit</div>
      <div class="collapsible-body purple lighten-5 "><span style= "font-size:18px">With the help of 'Stay Active' you can create a list of items you would need to start your fit life.</span></div>
    </li>
  </ul>

  <script>
    $(document).ready(function(){
    $('.collapsible').collapsible();
    });
  </script>